
#drum-draft
{
	display: none;
	height: 150px;
	width: auto;
}

.price
{
	text-align: right; 
	margin-top:-40px;
}

.img-option
{
	display: inline-block;
	width: 120px;
	height: auto;
	border: 1px solid black;
}

.img-nail-option
{
	display: inline-block;
	width: 120px;
	height: 240px;
	border: 5px solid grey;
}

.img-nailrows-option
{
	display: inline-block;
	width: 300px;
	height: 100px;
	border: 5px solid grey;
}

.img-option-selected
{
	border: 5px solid blue;
}
